<%= form_for(@registration) do |f| %>
  <% if @registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
      <% @registration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id='participants'>
  <%= f.fields_for :participants do |ff| %>
    <div id='participant_<%= ff.index %>'>
      <%= ff.label :name %>
      <%= ff.text_field :name %>

      <%= ff.label :age %>
      <%= ff.number_field :age %>

      <%= ff.label :shirt %>
      <%= ff.collection_select :shirt, shirt_sizes, :last, :first, {prompt: 'Select a Size'} %>

      <%= ff.label :level %>
      <%= ff.collection_select :level, registration_levels, :last, :first, {prompt: 'Select a Registration'} %>

      <%= ff.label :volunteer %>
      <%= ff.check_box :volunteer %>
    </div>
  <% end %>
</div>

  <%= link_to 'Add Participant', '#', id: 'add_participant' %>


  <div class="field">
    <%= f.label :street %><br>
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :donation %><br>
    <%= f.number_field :donation %>
  </div>
  <div class="field">
    <%= f.label :xs_shirts %><br>
    <%= f.number_field :xs_shirts %>
  </div>
  <div class="field">
    <%= f.label :s_shirts %><br>
    <%= f.number_field :s_shirts %>
  </div>
  <div class="field">
    <%= f.label :m_shirts %><br>
    <%= f.number_field :m_shirts %>
  </div>
  <div class="field">
    <%= f.label :l_shirts %><br>
    <%= f.number_field :l_shirts %>
  </div>
  <div class="field">
    <%= f.label :xl_shirts %><br>
    <%= f.number_field :xl_shirts %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
