<%= form_for(@registration) do |f| %>
  <% if @registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
      <% @registration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id='participants'>
    <%= f.fields_for :participants do |ff| %>
      <div id='participant_<%= ff.index %>'>
        <hr>
        <div class='control'>
          <%= ff.label :name, class: 'label' %>
          <%= ff.text_field :name, class: 'input' %>
        </div>
        <div class='control'>      
          <%= ff.label :shirt, class: 'label' %>
          <span class='select'>
          <%= ff.collection_select :shirt, shirt_sizes, :last, :first, {prompt: 'Select a Size'} %>
          </span>
        </div>
        <div class='control'>    
          <%= ff.label :level, class: 'label' %>
          <span class='select'>
          <%= ff.collection_select :level, registration_levels, :last, :first, {prompt: 'Select a Registration'} %>
          </span>
        </div>
        <div class='control'>
          <%= ff.label :volunteer, class: 'checkbox' %>
          <%= ff.check_box :volunteer, class: 'checkbox' %>
          <button type='button' class='remove_participant button is-danger is-smaller is-outlined is-pulled-right'>
            <i class='fa fa-times-circle-o'>
            </i>
          </button>
        </div>
      </div>
    <% end %>
  </div>
  <br>
  <button type='button' id='add_participant' class='button is-primary is-pulled-center'>
    Add Another Participant
  </button>
  <hr>


  <%= f.label 'Address', class: 'label' %>
  <div class="control">
    <%= f.text_field :street, class: 'input', placeholder: 'Street Address' %>
  </div>
  <div class="control is-horizontal">
    <%= f.text_field :city, class: 'input', placeholder: 'City' %>
    <%= f.text_field :state, class: 'input', placeholder: 'State' %>
    <%= f.text_field :zip, class: 'input', placeholder: 'Zip' %>
  </div>
  <%= f.label :phone, class: 'label' %>
  <div class="control">
    <%= f.text_field :phone, class: 'input' %>
  </div>
  <p class='label'>Additional Donation</p>
  <div class="control has-icon">
    <%= f.number_field :donation, class: 'input' %>
    <i class='fa fa-usd'></i>
  </div>

  <hr>
  
  <div id='shirt_buttons' class='control'>
    <button type='button' id='additional_shirts' class='button is-primary'>Order Additional T-Shrits</button>
    <button type='button' id='hide_shirts' class='button is-primary is-outlined' style='opacity:0'>Hide</button>
  </div>

  <div id='shirt_order', style='display:none'>

    <div class="control has-addons">
      <%= f.label 'XS', class: 'button is-primary' %>
      <%= f.number_field :xs_shirts, class: 'input is-expanded', value: 0 %>
    </div>
    <div class="control has-addons">
      <%= f.label 'Sm', class: 'button is-primary' %>
      <%= f.number_field :s_shirts, class: 'input is-expanded', value: 0 %>
    </div>
    <div class="control has-addons">
      <%= f.label 'Md', class: 'button is-primary' %>
      <%= f.number_field :m_shirts, class: 'input is-expanded', value: 0 %>
    </div>
     <div class="control has-addons">
      <%= f.label 'Lg', class: 'button is-primary' %>
      <%= f.number_field :l_shirts, class: 'input is-expanded', value: 0 %>
    </div>
    <div class="control has-addons">
      <%= f.label 'XL', class: 'button is-primary' %>
      <%= f.number_field :xl_shirts, class: 'input is-expanded', value: 0 %>
    </div>
  </div>

  <hr>

  <div class="actions">
    <%= f.submit class: 'button is-primary' %>
  </div>

<% end %>
