<%= form_for(@registration) do |f| %>
  <% if @registration.errors.any? %>
    <div id="error_explanation" class="notification is-danger">
      <h2><%= pluralize(@registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
      <% @registration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id='participants' class="box">
    <%= f.fields_for :participants do |ff| %>
      <div id='participant_<%= ff.index %>'>
        <div class='control'>
          <%= ff.label :name, class: 'label' %>
          <%= ff.text_field :name, class: 'input' %>
        </div>
        <div class='control'>    
          <%= ff.label :level, class: 'label' %>
          <span class='select'>
          <%= ff.collection_select :level, registration_levels, :last, :first, {prompt: 'Select a Registration'} %>
          </span>
        </div>
        <div class='control'>
          <%= ff.check_box :volunteer, class: 'checkbox' %>
          <%= ff.label :volunteer, class: 'checkbox' %>
          <button type='button' class='remove_participant button is-danger is-smaller is-outlined is-pulled-right'>
            <i class='fa fa-times-circle-o'>
            </i>
          </button>
        </div>
        <%= ff.hidden_field :_destroy, value: '0' %>
      </div>
    <% end %>
  </div>
  <br>
  <button type='button' id='add_participant' class='button is-primary is-outline is-pulled-center'>
    Add Another Participant
  </button>
  <hr>
  <%= f.label 'Address', class: 'label' %>
  <div class="control">
    <%= f.text_field :street, class: 'input', placeholder: 'Street Address' %>
  </div>
  <div class="control is-horizontal">
    <%= f.text_field :city, class: 'input', placeholder: 'City' %>
    <%= f.text_field :state, class: 'input', placeholder: 'State' %>
    <%= f.text_field :zip, class: 'input', placeholder: 'Zip' %>
  </div>
  <%= f.label :phone, class: 'label' %>
  <div class="control">
    <%= f.text_field :phone, class: 'input' %>
  </div>
  <div class='box'>
    <p class='label'>Additional Donation</p>
    <div class="control has-icon">
      <%= f.number_field :donation, class: 'input' %>
      <i class='fa fa-usd'></i>
    </div>
  </div>

  <hr>

  <div class="actions">
    <%= f.submit class: 'button is-success is-large' %>
  </div>

<% end %>
