<h3 class='title is-3'><%= @registration.participants.length %> Participants:</h3>
  <ul>
  <% subtotal = 0 %>
  <% @registration.participants.each do |participant| %>
    <li><%= participant.name %>, <%= registration_levels.key(participant.level) %>
      <% if participant.level != 0 %>
        <% subtotal += 15 %>
      <% end %>
  <% end %>
  </ul>
  <br>
  <h3 class='title is-3'>Address:</h3>
  <p>
    <%= @registration.street %><br>
    <%= @registration.city %> <%= @registration.state %> <%= @registration.zip %>
  </p>
  <br>
  <h3 class='title is-3'>Donation:</h3>
  <p>
    Registrations: $<%= subtotal %> <br>
    Additional Dontation: $<%= @registration.donation %><br>
    Total Donation: $<%= calculate_total(@registration) %>
  </p>
