<section class='section'>
  <div class='container'>
    <p id="notice"><%= notice %></p>

    <%= link_to 'All', registrations_path(sort: 'all'), class: 'button is-primary' %>
    <%= link_to 'Runners', registrations_path(sort: 'runners'), class: 'button is-primary' %>
    <%= link_to 'Volunteers', registrations_path(sort: 'volunteer'), class: 'button is-primary' %>
    <%= link_to 'Complete', registrations_path(sort: 'paid'), class: 'button is-primary' %>
    <%= link_to 'Incomplete', registrations_path(sort: 'unpaid'), class: 'button is-primary' %>

    <h1>Listing Registrations</h1>

    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>Name</th>
          <th>Level</th>
          <th>Address</th>
          <th>Phone</th>
          <th>Volunteer</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @participants.each do |participant| %>
          <tr>
            <td><%= participant.id %></td>
            <td><%= participant.name %></td>
            <td><%= registration_levels.key(participant.level) %></td>
            <td><%= participant.registration.street %><br>
            <%= participant.registration.city %> <%= participant.registration.state %> <%= participant.registration.zip %></td>
            <td><%= participant.registration.phone %></td>
            <td><%= participant.volunteer %></td>
            <td><%= link_to 'Show', participant.registration, class: 'button is-primary is-small' %></td>
            <td><%= link_to 'Edit', edit_registration_path(participant.registration), class: 'button is-primary is-small' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</section>