<div class='container'>
  <p id="notice"><%= notice %></p>

  <%= render 'summary' %>

  <%= link_to 'Edit', edit_registration_path(@registration), class: 'button is-primary' %>

 <form action="/checkout" method="POST">
  <input type='hidden' name='total' value='<%= @registration.total*100 %>'>
  <input type='hidden' name='id' value='<%= @registration.id %>'>
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= ENV['stripe_publishable_key']%>"
    data-amount="<%= @registration.total*100 %>"
    data-name="Register"
    data-locale="auto">
  </script>
</form>
</div>